footer {
    background-color: #07384e;
    color: #eee;
    padding-top: 30px;
    padding-bottom: 20px;

    // footer heading
    h2 {
        font-size: 22px;
        color: $primary;
    }

    // copyright text
    .footer-copyright-text {
        border-top: 1px solid $primary;
        padding-top: 20px;
        text-align: center;
    }

    // quick links
    .quick-links {
        padding: 0px;
        margin: 0px;
        list-style-type: none;

        & a {
            color: #eee;
        }

        & a:hover {
            color: $primary;
            text-decoration: none;
        }
    }

    // social-media links
    .social-media {
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        width: 200px!important;
        display: block;

        & li {
            display: inline-block;
            margin-right: 20px;
        }

        & a {
            font-size: 40px;
        }
    }
}


