// Fonts
@font-face {
    font-family: 'Myriad-light';
    src: url('fonts/MyriadPro-Light.woff2') format('woff2'),
        url('fonts/MyriadPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad-black';
    src: url('fonts/MyriadPro-Black.woff2') format('woff2'),
        url('fonts/MyriadPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad-bold';
    src: url('fonts/Myriad Pro Bold.woff2') format('woff2'),
         url('fonts/Myriad Pro Bold.woff') format('woff'),
         url('fonts/Myriad Pro Bold.ttf')  format('truetype');
  }

  @font-face {
    font-family: 'Myriad-regular';
    src: url('fonts/Myriad Pro Regular.woff2') format('woff2'),
         url('fonts/Myriad Pro Regular.woff') format('woff'),
         url('fonts/Myriad Pro Regular.ttf')  format('truetype');
  }




// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';

// Footer
@import '_footer';

// Header
@import '_header';



body {
    font-family: 'Myriad-regular', sans-serif;
    font-size: 18px;
}


// Page
.page-title {
    font-family: 'Myriad-bold';
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 30px;
    border-bottom: 4px solid $primary;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

.text-bold {
    font-family: 'Myriad-bold';
}

.site-text p {
    font-family: 'Myriad-light';
    font-size: 20px;
}


.no-border-radius {
    border-radius: 0px!important;
}

// Contact
.box-container {
    border-radius: 30px;
    background: #deded9;
    padding: 30px 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 70px;

    ul {
        padding: 0px;
        margin: 0px;
        margin-left: 15px;
    }
}

.short-box {
    min-width: 800px;
    width: 800px;
}


// Main Menu
.navbar {
    padding-top: 20px;

    & a.nav-link {
        font-size: 16px;
    }

    & a.nav-link:hover {
        color: $primary!important;
    }

    & .active {
        color: $primary!important;
    }
}
